// 標籤基本樣式

body{
    letter-spacing: 0.02em;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.fixed-pt{
    padding-top: 124px;
}

.btn-pd-4-8{
    padding: 4px 8px;
}

.btn-pd-8-16{
    padding: 8px 16px;  
}

.btn-pd-16-20{
    padding: 16px 20px;
}




// .btn-pd-16-32{
//     padding: 16px 32px;
// }

// .btn-pd-16-100{
//     padding: 16px 100px;
// }