.cart-target{
  width: 16px;
  height: 16px;
  line-height: 1.333;
}

.navbar-lg-search{
  max-width: 400px;
}

// html {
//   // 設定頁面可滾動，並為滾動條定義時間軸
//     scroll-timeline-name: --page-scroll;/* 給這個時間軸一個名字 */
//     scroll-timeline-axis: block; /* 監聽垂直滾動（Y軸） */
// }

// .navbar {
//   animation: navbar-background-change forwards;
//   animation-timeline: --page-scroll; /* 將動畫綁定到 --page-scroll 滾動時間軸 */
//   animation-range: 0px 80px; /* 動畫由頂部 0px 往下滾動 80px 後完成 */
// }

// @keyframes navbar-background-change {
//   from {
//     /* 0% 狀態 */
//     background-color: transparent;
//   }
//   to {
//     /* 100% 狀態 */
//     background-color: rgba($color: $white, $alpha: 0.72);
//     backdrop-filter: blur(4px);
//     border-bottom: 0.5px solid $neutral-40;
//   }
// }