// 主視覺
.banner {
  background-image: url(/assets/images/index/hero-bg.png);
  background-position: center center;

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 124px;

  @media (min-width: 992px) {
    padding-top: 300px;
    background-position: center center; // 桌機正常置中
  }

  @media (max-width: 991.98px) {
    background-position: 75% center; // ⭐️⭐️ 調整圖片焦點偏右
  }
}

// 專屬推薦
.recommend {
  background-color: #221f1e;

  .card {
    max-width: 277px;
    height: 400px;

    @media (min-width: 992px) {
      width: 25%;
      max-width: 416px;
      height: 600px;
      transition: width 1s;

      button {
        opacity: 0;
      }

      &:hover {
        width: 100%;

        button {
          opacity: 100%;
        }
      }
    }
  }
}

.recommend-swiper{
    padding-inline: 16px;
    padding-bottom: 80px;
    position: relative;

}

/* Swiper預設小圓點 */
  .recommend-swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #cfcfcf;
    /* 未選中顏色 */
    opacity: 1;
    /* 取消 Swiper 預設透明度 */
    //margin: 0 6px !important;
    /* 點與點間距 */
    transition: all .2s ease;
  }

  /* Swiper目前頁 */
  .recommend-swiper .swiper-pagination-bullet-active {
    width: 24px;
    height: 8px;
    background: $primary-40;
    /* 選中顏色 */
    border-radius: 999px;
    //transform: scale(1.25);
    /* 微放大 */
  }

.zobaa-tag {
  top: -45px;
  left: 133px;
  max-width: 130px;
  height: auto;
  @media (min-width: 992px) {
    max-width: 172px;
    height: auto;
    left: 320px;
  }
}

.offset-row {
  @media (min-width: 992px) {
    // Ｘ軸偏移 80 px
    transform: translateX(80px);
  }
}

.tab-btn-bg {
  .nav-link {
    background-color: $white;
  }
}

.img-container {
  height: 200px; /* 根據實際卡片比例可調整 */
  width: auto;
  @media (min-width: 992px) {
    max-width: 300px;
    height: auto;
  }
}

.number {
  font-family: "Poppins";
  color: #DFD2CD;
  font-size: 100px;
  font-style: italic;
  top: -57px;
  left: 16px;
    @media (min-width: 992px) {
      font-size: 200px;
      top: -130px;
      left: 25px;
      
    }
}

.swiper-slide{
  max-width: 312px;
    @media (min-width: 992px) {
    max-width: 746px;
    }
}

/* Swiper預設小圓點 */
  .swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #cfcfcf;
    /* 未選中顏色 */
    opacity: 1;
    /* 取消 Swiper 預設透明度 */
    //margin: 0 6px !important;
    /* 點與點間距 */
    transition: all .2s ease;
  }

  /* Swiper目前頁 */
  .swiper .swiper-pagination-bullet-active {
    width: 24px;
    height: 8px;
    background: $primary-100;
    /* 選中顏色 */
    border-radius: 999px;
    //transform: scale(1.25);
    /* 微放大 */
  }

.journey-img-container {
  max-height: 212px; /* 根據實際卡片比例可調整 */
  max-width: 306px;
}

.journey-info {
  max-width: 306px;
}

.star {
  color: #f6bd2b;
}

.love {
  top: 0px;
  right: 0px;
  color: $white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 20px;
  backdrop-filter: blur(12px);

  background: rgba($color: #000000, $alpha: 0.4);
  &:hover,
  &:active,
  &:focus {
    color: $white;
    background: $black;
    // 拿掉 Bootstrap 的外框陰影
  }
}

.marquee {
  overflow: hidden;
  p {
    font-family: "Poppins";
    font-size: 32px;
    white-space: nowrap;

    animation-name: marquee;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    @keyframes marquee {
      from {
        transform: translateX(-25%);
      }
      to {
        transform: translateX(0%);
      }
    }
    @media (min-width: 992px) {
      font-size: 130px;
    }
  }
}

.zobaa-img-container {
  height: 240px;
  width: auto;
  @media (min-width: 992px) {
    height: 600px;
  }
}

.zobaa-text {
  font-size: 32px;
  left: 24px;
  bottom: 100px;
  opacity: 0.32;
  line-height: 1.2;
  @media (min-width: 992px) {
    font-size: 150px;
  }
}

.zobaa-life-text {
  font-size: 32px;
  left: 24px;
  bottom: 24px;
  line-height: 1.2;
  opacity: 0.6;
  @media (min-width: 992px) {
    font-size: 72px;
  }
}

.zobaa-why-bg {
  background-color: rgba($color: $primary-10, $alpha: 0.5);
}

// .bg-up{
//   display: none;
//     @media (min-width:992px){
//           display: flex;
//           top: -360px;
//           left: -240px;
//         }
// }

.bg-line {
  bottom: 295px;
  left: -97px;
  max-width: none;
}

.bg-down {
  display: flex;
  bottom: -500px;
  right: 50px;
}

// .why-zobaa-btn{
//   padding: 16px 20px;
//    @media (min-width:992px){
//       padding: 28px 32px;
//     }
// }

.bg-icon {
  color: $primary-10;
}

.hashtag {
  font-family: "Poppins";
  font-size: 52px;
  top: -32px;
  left: -8px;
  @media (min-width: 992px) {
    font-size: 120px;
    top: -70px;
    left: -30px;
  }
}

.slider-bg {
  background-color: $primary-10;
  height: 40px;
  clip-path: polygon(0 100%, 100% calc(100% - 40px), 100% 100%, 0 100%);
}

.slider-bg2 {
  background-color: $primary-10;
  height: 40px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0 100%);
}

.deco-bg {
  transform: rotate(-5deg);
  top: 150px;
  left: -10px;
  max-width: none;
  width: 2000px;
}

.deco-txt {
  left: 80px;
  bottom: 360px;
}

.search-bar {
  max-width: 720px;
}

