<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    
  </head>
  <body>
    <%- include('./layout/header'); -%>

      <main>
        <!-- 主視覺 -->
        <section class="banner">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <div class="kv-title mb-2 mb-lg-8">
                  <h5 class="fs-lg-8 fs-7 fw-bold text-primary bg-primary-10 rounded-1 p-2 d-inline-block mb-4">
                    ZOBAA 旅行推薦平台
                  </h5>
                  <h1 class="rounded-lg-3 rounded-1 fs-4 fs-lg-1 fw-bold text-primary">
                    <span class="d-block d-lg-inline mb-1">用旅行，</span>
                    <span>收藏世界的樣子</span>
                    </h1>

                  </div>
                <p class="kv-intro text-primary-80 fw-bold fs-9 fs-lg-7 mb-8 mb-lg-11">
                  ZOBAA 整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。
                  </p>
                
                <div class="search-bar input-group p-2 rounded-4 border bg-white d-flex align-items-center">
                    <!-- 搜尋icon -->
                    <span class="material-icons-outlined align-bottom text-neutral-60 z-1 me-2">search
                      </span>
                    <!-- 輸入框 -->
                    <input type="text" class="form-control border-0 text-neutral-60 p-0"
                           placeholder="搜尋景點、地點或城市">
                    <!-- 按鈕 -->
                    <button class="btn btn-primary fw-bold btn-pd-12-16 rounded-2">
                      開始探索旅程
                    </button>
                    </div>
               


                </div>
             </div>
          </div>
          </section>
        <!-- 專屬推薦 -->
        <section class="recommend py-11">
          <div class="container text-white d-lg-flex justify-content-lg-between align-items-lg-center mb-11">
            <h4 class="fs-lg-1 mb-8">你的<br>專屬推薦</h4>
            <div>
              <p class="mb-4 fs-9 fs-lg-7">來看我們的精選推薦行程，滿意度高達 99.2% <br> 給自己一個難忘的旅遊行程吧！</p>
              <a href="#" class="fs-9 fs-lg-8">查看全部行程 <span class="material-icons-outlined align-bottom ms-2">   
                arrow_forward</span>
              </a>
              </div>
            </div>
          <div class="container d-flex gap-8 overflow-x-auto">
            <div class="card bg-dark text-white rounded-6 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
                <img src="/assets/images/index/recommend.png" class="card-img h-100" alt="...">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                      <h5 class="fs-lg-3 mb-2">峇里島渡假漫遊</h5>
                      <p class="fs-9 fs-lg-8 mb-8">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
                      <button type="button" class="btn btn-light cta p-7 rounded-pill d-flex justify-content-between d-lg-flex">訂購行程<span class="material-icons-outlined align-bottom ms-2">   
                arrow_forward</span></button>
                  </div>
              </div>
            <div class="card bg-dark text-white rounded-6 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
                <img src="/assets/images/index/recommend-1.png" class="card-img h-100" alt="...">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                      <h5 class="fs-lg-3 mb-2">日本深度賞櫻計畫</h5>
                      <p class="fs-9 fs-lg-8 mb-8">春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。</p>
                      <button type="button" class="btn btn-light cta p-7 rounded-pill d-flex justify-content-between d-lg-flex">訂購行程<span class="material-icons-outlined align-bottom ms-2"> arrow_forward</span></button>
                  </div>
              </div>
            <div class="card bg-dark text-white rounded-6 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
                <img src="/assets/images/index/recommend-2.png" class="card-img h-100" alt="...">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                      <h5 class="fs-lg-3 mb-2">紐西蘭雪山探險</h5>
                      <p class="fs-9 fs-lg-8 mb-8">探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。</p>
                      <button type="button" class="btn btn-light cta p-7 rounded-pill d-flex justify-content-between d-lg-flex">訂購行程<span class="material-icons-outlined align-bottom ms-2"> arrow_forward</span></button>
                  </div>
              </div>
            <div class="card bg-dark text-white rounded-6 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
                <img src="/assets/images/index/recommend-3.png" class="card-img h-100" alt="...">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                      <h5 class="fs-lg-3 mb-2">摩洛哥迷幻之旅</h5>
                      <p class="fs-9 fs-lg-8 mb-8">漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。</p>
                      <button type="button" class="btn btn-light cta p-7 rounded-pill d-flex justify-content-between">訂購行程<span class="material-icons-outlined align-bottom ms-2"> arrow_forward</span></button>
                  </div>
              </div>
            </div>
          


        </section>
        <!-- 踏上旅程第一站 -->
         <section class="py-11 py-lg-18 position-relative overflow-hidden">
          <img src="/assets/images/index/deco-bg.svg" alt="" class="deco-bg position-absolute">
          <img src="/assets/images/index/deco-text.svg" alt="" class="deco-txt position-absolute">
          <div class="container position-relative z-1">
            <div class="row flex-lg-row-reverse justify-content-between align-items-lg-center">
              <div class="col-lg-5 mb-11 mb-lg-0 d-flex justify-content-lg-end">
                <div>
                  <h4 class="text-primary fs-lg-1 fw-bold mb-8">ZOBAA!<br>踏上旅程的<br>第一站</h4>
                  <p class="text-primary-60">
                    探索最熱門的旅遊主題，<br>從旅人必備攻略到獨家優惠，<br>全都為你精挑細選。
                  </p>
  
  
                </div>
              </div>
              <div class="col-lg-7">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card overflow-hidden rounded-3 rounded-lg-5 border-1 mb-6 mb-lg-7">
                      <img src="/assets/images/index/intro-1.png" class="card-img-top" alt="...">
                      <div class="card-body p-8">
                        <h4 class="fs-7 text-black fw-bold mb-2">ZOBAA 專屬推薦行程</h4>
                        <p>嚴選深度行程，豐富旅行靈感</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card overflow-hidden rounded-3 rounded-lg-5 border-1 mb-6 mb-lg-7">
                      <img src="/assets/images/index/intro-2.png" class="card-img-top" alt="...">
                      <div class="card-body p-8">
                        <h4 class="fs-7 text-black fw-bold mb-2">旅人攻略集合</h4>
                        <p>景點、交通、私房景點一次掌握</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row offset-row">
                  <div class="col-lg-6">
                    <div class="card overflow-hidden rounded-3 rounded-lg-5 border-1 mb-6 mb-lg-7">
                      <img src="/assets/images/index/intro-3.png" class="card-img-top" alt="...">
                      <div class="card-body p-8">
                        <h4 class="fs-7 text-black fw-bold mb-2">優惠機票、酒店</h4>
                        <p>即時比價，聰明出發不踩雷</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card overflow-hidden rounded-3 rounded-lg-5 border-1 mb-6 mb-lg-7">
                      <img src="/assets/images/index/intro-4.png" class="card-img-top" alt="...">
                      <div class="card-body p-8">
                        <h4 class="fs-7 text-black fw-bold mb-2">即時比價，聰明出發不踩雷</h4>
                        <p>使用指定卡別享受獨家旅遊好康</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>

           </div>

         </section>
         <!-- 斜邊容器 -->
         <div class="slider-bg">
          </div>
        <!-- 靈感地圖 -->
          <section class="bg-primary-10 pt-11 pb-16 px-6 py-lg-18">
            <div class="container p-0">
              <div class="title-intro d-lg-flex align-items-center justify-content-between">
                <div class="title-world-tab mb-lg-11">
                  <div class="title mb-8 position-relative">
                      <h4 class="fs-lg-1 mb-2 text-primary">
                          今年旅行的
                          <img src="/assets/images/index/deco-text-1.svg" alt="" class="position-absolute zobaa-tag">
                        </h4>
                      <h4 class="fs-lg-1 text-primary">
                        靈感地圖
                      </h4>           
                    </div>
                      <!-- 各洲頁籤 -->
                  <ul class="nav nav-pills gap-2 d-flex flex-nowrap overflow-x-auto tab-btn-bg mb-8" id="pills-tab" role="tablist">
                       <li class="nav-item flex-shrink-0" role="presentation">
                         <button class="nav-link btn-pd-8-16 fw-bold fs-8 active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">全部</button>
                        </li>
                       <li class="nav-item flex-shrink-0" role="presentation">
                         <button class="nav-link btn-pd-8-16 fw-bold fs-8" id="pills-asia-tab" data-bs-toggle="pill" data-bs-target="#pills-asia-info" type="button" role="tab" aria-controls="pills-asia-info" aria-selected="false">亞洲</button>
                        </li>
                       <li class="nav-item flex-shrink-0" role="presentation">
                         <button class="nav-link btn-pd-8-16 fw-bold fs-8" id="pills-europe-tab" data-bs-toggle="pill" data-bs-target="#pills-europe-info" type="button" role="tab" aria-controls="pills-europe-info" aria-selected="false">歐洲</button>
                        </li>
                       <li class="nav-item flex-shrink-0" role="presentation">
                         <button class="nav-link btn-pd-8-16 fw-bold fs-8" id="pills-oceania-tab" data-bs-toggle="pill" data-bs-target="#pills-oceania-info" type="button" role="tab" aria-controls="pills-oceania-info" aria-selected="false">美洲</button>
                        </li>
                       <li class="nav-item flex-shrink-0" role="presentation">
                         <button class="nav-link btn-pd-8-16 fw-bold fs-8" id="pills-oceania-tab" data-bs-toggle="pill" data-bs-target="#pills-oceania-info" type="button" role="tab" aria-controls="pills-oceania-info" aria-selected="false">大洋洲</button>
                        </li>
                       <li class="nav-item flex-shrink-0" role="presentation">
                         <button class="nav-link btn-pd-8-16 fw-bold fs-8" id="pills-africa-tab" data-bs-toggle="pill" data-bs-target="#pills-africa-info" type="button" role="tab" aria-controls="pills-africa-info" aria-selected="false">非洲</button>
                        </li>
                       
                    </ul>
                  </div>
                      <!-- 簡文 -->
                  <div class="intro text-primary fw-bold fs-lg-7 fs-9 mb-11 d-lg-flex flex-column align-items-end">
                    <p>來自旅人搜尋、收藏與討論最多的目的地排行榜，</p>
                    <p class="mb-lg-8">一場風格與故事感兼具的靈感旅行，就從這裡開始。</p>
                    <div class="d-lg-flex d-none gap-2">
                      <button type="button" class="btn bg-white rounded-2 p-6">
                        <span class="text-black material-icons-outlined align-bottom">arrow_back</span>
                        </button>
                      <button type="button" class="btn bg-white rounded-2 p-6">
                        <span class="text-black material-icons-outlined align-bottom">arrow_forward</span>
                        </button>

                    </div>
                  </div>

              </div>

                
                  <!--  地圖卡片 -->
                  
                    <div class="container">
                      <div class="row overflow-x-auto d-flex flex-nowrap gap-6 gap-lg-8">
                        
                        <div class="col-lg-7 p-0 position-relative z-1">
                          <!-- 數字 -->
                          <img src="/assets/images/Number1.svg" alt="" class="number position-absolute z-3">

                          <div class="card rounded-5 rounded-lg-6 p-6 py-lg-6 ps-lg-7 pe-lg-10 border-0 flex-shrink-0 w-100">
                              <!-- 卡片內容 -->
                            <div class="content d-lg-flex gap-lg-10">
                              <div class="img-container mb-2">
                                  <img src="/assets/images/index/map-1.png" class="card-img-top img-fluid rounded-3 w-100 h-100 object-fit-cover" alt="...">
                                  </div>
                              <div class="landmark-cardbody">
                                <div class="landmark mb-2">
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 me-2 lh-base">亞洲
                                    </span>
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 lh-base">日本京都
                                    </span>
                                  </div>
                                <div class="card-body p-0">
                                <h4 class="card-title text-black mb-2 fs-lg-2">
                                  走進四季交織的文化時光
                                  </h4>
                                <p class="card-text fs-9 fs-lg-8 mb-8 mb-lg-11">
                                  穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。
                                  </p>
                                <div class="d-lg-flex align-items-center mb-lg-11 gap-lg-4">

                                  <div class="badge text-primary bg-primary-10 fs-9 p-2 rounded-1 lh-base mb-2 mb-lg-0">ZOBAA 建議
                                    </div>
                                  <p class="card-text text-primary fs-9 fs-lg-8 mb-8 mb-lg-0">
                                    賞楓最佳時間是 11 月中旬，推薦清水寺和南禪寺一帶 🍁
                                    </p>
                                  </div>

                                  </div>
                                <a href="#" class="btn rounded-pill text-white bg-black w-100 btn-pd-16-20 d-flex justify-content-between align-items-center">
                                  立即探索魅力古都
                                  <span class="rounded-circle bg-white text-black p-2   material-icons-outlined align-bottom">arrow_forward
                                    </span>
                                </a>
                                  </div>

                                </div>

                              </div>
                            </div>
                        <div class="col-lg-7 p-0 position-relative z-1">
                          <!-- 數字 -->
                          <img src="/assets/images/Number1.svg" alt="" class="number position-absolute z-3">

                          <div class="card rounded-5 rounded-lg-6 p-6 py-lg-6 ps-lg-7 pe-lg-10 border-0 flex-shrink-0 w-100">
                              <!-- 卡片內容 -->
                            <div class="content d-lg-flex gap-lg-10">
                              <div class="img-container mb-2">
                                  <img src="/assets/images/index/map-2.png" class="card-img-top img-fluid rounded-3 w-100 h-100 object-fit-cover" alt="...">
                                  </div>
                              <div class="landmark-cardbody">
                                <div class="landmark mb-2">
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 me-2 lh-base">亞洲
                                    </span>
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 lh-base">南韓首爾
                                    </span>
                                  </div>
                                <div class="card-body p-0">
                                <h4 class="card-title text-black mb-2 fs-lg-2">
                                  從街邊美食到韓劇場景
                                  </h4>
                                <p class="card-text fs-9 fs-lg-8 mb-8 mb-lg-11">
                                  白天在弘大小巷探店，夜晚登上南山塔俯瞰整座城市的閃爍。
                                  </p>
                                <div class="d-lg-flex align-items-center mb-lg-11 gap-lg-4">

                                  <div class="badge text-primary bg-primary-10 fs-9 p-2 rounded-1 lh-base mb-2 mb-lg-0">ZOBAA 建議
                                    </div>
                                  <p class="card-text text-primary fs-9 fs-lg-8 mb-8 mb-lg-0">
                                    弘大周邊週五傍晚最熱鬧，小吃與街頭藝人齊發✨
                                    </p>
                                  </div>

                                  </div>
                                <a href="#" class="btn rounded-pill text-white bg-black w-100 btn-pd-16-20 d-flex justify-content-between align-items-center">
                                  立即探索魅力古都
                                  <span class="rounded-circle bg-white text-black p-2   material-icons-outlined align-bottom">arrow_forward
                                    </span>
                                </a>
                                  </div>

                                </div>

                              </div>
                            </div>
                        <div class="col-lg-7 p-0 position-relative z-1">
                          <!-- 數字 -->
                          <img src="/assets/images/Number1.svg" alt="" class="number position-absolute z-3">

                          <div class="card rounded-5 rounded-lg-6 p-6 py-lg-6 ps-lg-7 pe-lg-10 border-0 flex-shrink-0 w-100">
                              <!-- 卡片內容 -->
                            <div class="content d-lg-flex gap-lg-10">
                              <div class="img-container mb-2">
                                  <img src="/assets/images/index/map-3.png" class="card-img-top img-fluid rounded-3 w-100 h-100 object-fit-cover" alt="...">
                                  </div>
                              <div class="landmark-cardbody">
                                <div class="landmark mb-2">
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 me-2 lh-base">歐洲
                                    </span>
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 lh-base">法國巴黎
                                    </span>
                                  </div>
                                <div class="card-body p-0">
                                <h4 class="card-title text-black mb-2 fs-lg-2">
                                  在藝術與咖啡香中迷路
                                  </h4>
                                <p class="card-text fs-9 fs-lg-8 mb-8 mb-lg-11">
                                  穿梭左岸書店與畫廊，任由麵包香與建築細節擁抱你的步伐。
                                  </p>
                                <div class="d-lg-flex align-items-center mb-lg-11 gap-lg-4">

                                  <div class="badge text-primary bg-primary-10 fs-9 p-2 rounded-1 lh-base mb-2 mb-lg-0">ZOBAA 建議
                                    </div>
                                  <p class="card-text text-primary fs-9 fs-lg-8 mb-8 mb-lg-0">
                                    走進瑪黑區，最容易與巴黎風格不期而遇 ☕️
                                    </p>
                                  </div>

                                  </div>
                                <a href="#" class="btn rounded-pill text-white bg-black w-100 btn-pd-16-20 d-flex justify-content-between align-items-center">
                                  立即探索魅力古都
                                  <span class="rounded-circle bg-white text-black p-2   material-icons-outlined align-bottom">arrow_forward
                                    </span>
                                </a>
                                  </div>

                                </div>

                              </div>
                            </div>
                        <div class="col-lg-7 p-0 position-relative z-1">
                          <!-- 數字 -->
                          <img src="/assets/images/Number1.svg" alt="" class="number position-absolute z-3">

                          <div class="card rounded-5 rounded-lg-6 p-6 py-lg-6 ps-lg-7 pe-lg-10 border-0 flex-shrink-0 w-100">
                              <!-- 卡片內容 -->
                            <div class="content d-lg-flex gap-lg-10">
                              <div class="img-container mb-2">
                                  <img src="/assets/images/index/map-5.png" class="card-img-top img-fluid rounded-3 w-100 h-100 object-fit-cover" alt="...">
                                  </div>
                              <div class="landmark-cardbody">
                                <div class="landmark mb-2">
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 me-2 lh-base">大洋洲
                                    </span>
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 lh-base">澳洲雪梨
                                    </span>
                                  </div>
                                <div class="card-body p-0">
                                <h4 class="card-title text-black mb-2 fs-lg-2">
                                  城市與大自然的交會
                                  </h4>
                                <p class="card-text fs-9 fs-lg-8 mb-8 mb-lg-11">
                                  清晨在海灘做瑜珈，午後漫步歌劇院，享受城市的節奏與野性的呼喚。
                                  </p>
                                <div class="d-lg-flex align-items-center mb-lg-11 gap-lg-4">

                                  <div class="badge text-primary bg-primary-10 fs-9 p-2 rounded-1 lh-base mb-2 mb-lg-0">ZOBAA 建議
                                    </div>
                                  <p class="card-text text-primary fs-9 fs-lg-8 mb-8 mb-lg-0">
                                    別錯過傍晚在雪梨港看日落＋欣賞歌劇院夜燈 ✨
                                    </p>
                                  </div>

                                  </div>
                                <a href="#" class="btn rounded-pill text-white bg-black w-100 btn-pd-16-20 d-flex justify-content-between align-items-center">
                                  立即探索魅力古都
                                  <span class="rounded-circle bg-white text-black p-2   material-icons-outlined align-bottom">arrow_forward
                                    </span>
                                </a>
                                  </div>

                                </div>

                              </div>
                            </div>
                        <div class="col-lg-7 p-0 position-relative z-1">
                          <!-- 數字 -->
                          <img src="/assets/images/Number1.svg" alt="" class="number position-absolute z-3">

                          <div class="card rounded-5 rounded-lg-6 p-6 py-lg-6 ps-lg-7 pe-lg-10 border-0 flex-shrink-0 w-100">
                              <!-- 卡片內容 -->
                            <div class="content d-lg-flex gap-lg-10">
                              <div class="img-container mb-2">
                                  <img src="/assets/images/index/map-5.png" class="card-img-top img-fluid rounded-3 w-100 h-100 object-fit-cover" alt="...">
                                  </div>
                              <div class="landmark-cardbody">
                                <div class="landmark mb-2">
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 me-2 lh-base">亞洲
                                    </span>
                                  <span class="badge text-primary bg-primary-10 fs-9 btn-pd-8-16 rounded-1 lh-base">日本京都
                                    </span>
                                  </div>
                                <div class="card-body p-0">
                                <h4 class="card-title text-black mb-2 fs-lg-2">
                                  走進四季交織的文化時光
                                  </h4>
                                <p class="card-text fs-9 fs-lg-8 mb-8 mb-lg-11">
                                  穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。
                                  </p>
                                <div class="d-lg-flex align-items-center mb-lg-11 gap-lg-4">

                                  <div class="badge text-primary bg-primary-10 fs-9 p-2 rounded-1 lh-base mb-2 mb-lg-0">ZOBAA 建議
                                    </div>
                                  <p class="card-text text-primary fs-9 fs-lg-8 mb-8 mb-lg-0">
                                    賞楓最佳時間是 11 月中旬，推薦清水寺和南禪寺一帶 🍁
                                    </p>
                                  </div>

                                  </div>
                                <a href="#" class="btn rounded-pill text-white bg-black w-100 btn-pd-16-20 d-flex justify-content-between align-items-center">
                                  立即探索魅力古都
                                  <span class="rounded-circle bg-white text-black p-2   material-icons-outlined align-bottom">arrow_forward
                                    </span>
                                </a>
                                  </div>

                                </div>

                              </div>
                            </div>
                        

                          </div>
                        
                        

                      </div>
                  </div>
                  
                </div>
              </div>

 
          </section>
        <!-- 斜邊容器2 -->
         <div class="slider-bg2">
          </div>
        
        <!-- 行程參考 -->
         <section class="py-11 py-lg-18">
           
           <div class="container">
             <div class="title text-primary fw-bold mb-11 mb-lg-16 position-relative z-1">
                <p class="hashtag text-primary-10 fw-bold position-absolute z-n1">#</p>
                <h4 class="mb-2 fs-lg-1">
                  搜尋墨爾本嗎？
                </h4>
                <h4 class="fs-lg-1">
                  來點行程參考！
                </h4>
              </div>
                    <!-- 行程卡片 -->
            <div class="container p-0 ">
              <div class="row overflow-x-auto d-flex flex-nowrap">
  
                <div class="col-lg-3 col-8 flex-shrink-0 flex-lg-shrink-1">
                  <div class="card bg-transparent rounded-4 p-0 border-0 ">
                    <div class="journey-img-container rounded-4 mb-6 position-relative">
                         <button type="button" class="love btn btn-white p-6 position-absolute">
                           <span class="material-icons-outlined align-bottom favorite">
                            favorite_border
                          </span>
                         </button>                
                          <img src="/assets/images/index/journey-1.png" class="card-img-top img-fluid rounded-3 w-100 h-100 object-fit-cover" alt="...">
                          </div>
                            <div class="journey-info">
                              <p class="title text-black fw-bold mb-2">
                                【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊
                              </p>
                              <div class="mb-2">
                                <span class="badge text-primary bg-primary-10 fs-9 fw-normal btn-pd-4-8 rounded-1 me-2 lh-base">即買即用
                                  </span>
                                <span class="badge text-primary bg-primary-10 fs-9 fw-normal btn-pd-4-8 rounded-1 lh-base">5 天前可免費取消
                                  </span>
                                </div>
                              <div class="border-bottom pb-6 mb-6">
                                <span class="material-icons-outlined align-bottom star me-1">star</span>
                                <span class="me-1 fs-9">4.2 </span>
                                <span class="neutral-60 fs-9 me-4">(333)</span>
                                <span class="border-start fs-9 ps-4">500+ 個已訂購</span>
                                </div>
                              <h4 class="fs-7 fw-bold">
                                NT$ 4,220
                              </h4>
                              <p class="fs-9 text-neutral-60 text-decoration-line-through">NT$ 5,220</p>
                                
    
                              </div>
                              
                      
                    </div>
                  </div>
                <div class="col-lg-3 col-8 flex-shrink-0 flex-lg-shrink-1">
                  <div class="card bg-transparent rounded-4 p-0 border-0 ">
                    <div class="journey-img-container rounded-4 mb-6 position-relative">
                         <button type="button" class="love btn btn-white p-6 position-absolute">
                           <span class="material-icons-outlined align-bottom favorite">
                            favorite_border
                          </span>
                         </button>                
                          <img src="/assets/images/index/journey-2.png" class="card-img-top img-fluid rounded-3 w-100 h-100 object-fit-cover" alt="...">
                          </div>
                            <div class="journey-info">
                              <p class="title text-black fw-bold mb-2">
                                【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊
                              </p>
                              <div class="mb-2">
                                <span class="badge text-primary bg-primary-10 fs-9 fw-normal btn-pd-4-8 rounded-1 me-2 lh-base">即買即用
                                  </span>
                                <span class="badge text-primary bg-primary-10 fs-9 fw-normal btn-pd-4-8 rounded-1 lh-base">5 天前可免費取消
                                  </span>
                                </div>
                              <div class="border-bottom pb-6 mb-6">
                                <span class="material-icons-outlined align-bottom star me-1">star</span>
                                <span class="me-1 fs-9">4.2 </span>
                                <span class="neutral-60 fs-9 me-4">(333)</span>
                                <span class="border-start fs-9 ps-4">500+ 個已訂購</span>
                                </div>
                              <h4 class="fs-7 fw-bold">
                                NT$ 4,220
                              </h4>
                              <p class="fs-9 neutral-60 text-decoration-line-through">NT$ 5,220</p>
                                
    
                              </div>
                              
                      
                    </div>
                  </div>
                <div class="col-lg-3 col-8 flex-shrink-0 flex-lg-shrink-1">
                  <div class="card bg-transparent rounded-4 p-0 border-0 ">
                    <div class="journey-img-container rounded-4 mb-6 position-relative">
                         <button type="button" class="love btn btn-white p-6 position-absolute">
                           <span class="material-icons-outlined align-bottom favorite">
                            favorite_border
                          </span>
                         </button>                
                          <img src="/assets/images/index/journey-3.png" class="card-img-top img-fluid rounded-3 w-100 h-100 object-fit-cover" alt="...">
                          </div>
                            <div class="journey-info">
                              <p class="title text-black fw-bold mb-2">
                                【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊
                              </p>
                              <div class="mb-2">
                                <span class="badge text-primary bg-primary-10 fs-9 fw-normal btn-pd-4-8 rounded-1 me-2 lh-base">即買即用
                                  </span>
                                <span class="badge text-primary bg-primary-10 fs-9 fw-normal btn-pd-4-8 rounded-1 lh-base">5 天前可免費取消
                                  </span>
                                </div>
                              <div class="border-bottom pb-6 mb-6">
                                <span class="material-icons-outlined align-bottom star me-1">star</span>
                                <span class="me-1 fs-9">4.2 </span>
                                <span class="neutral-60 fs-9 me-4">(333)</span>
                                <span class="border-start fs-9 ps-4">500+ 個已訂購</span>
                                </div>
                              <h4 class="fs-7 fw-bold">
                                NT$ 4,220
                              </h4>
                              <p class="fs-9 neutral-60 text-decoration-line-through">NT$ 5,220</p>
                                
    
                              </div>
                              
                      
                    </div>
    
                  </div>
                <div class="col-lg-3 col-8 flex-shrink-0 flex-lg-shrink-1">
                  <div class="card bg-transparent rounded-4 p-0 border-0 ">
                    <div class="journey-img-container rounded-4 mb-6 position-relative">
                         <button type="button" class="love btn btn-white p-6 position-absolute">
                           <span class="material-icons-outlined align-bottom favorite">
                            favorite_border
                          </span>
                         </button>                
                          <img src="/assets/images/index/journey-4.png" class="card-img-top img-fluid rounded-3 w-100 h-100 object-fit-cover" alt="...">
                          </div>
                            <div class="journey-info">
                              <p class="title text-black fw-bold mb-2">
                                【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊
                              </p>
                              <div class="mb-2">
                                <span class="badge text-primary bg-primary-10 fs-9 fw-normal btn-pd-4-8 rounded-1 me-2 lh-base">即買即用
                                  </span>
                                <span class="badge text-primary bg-primary-10 fs-9 fw-normal btn-pd-4-8 rounded-1 lh-base">5 天前可免費取消
                                  </span>
                                </div>
                              <div class="border-bottom pb-6 mb-6">
                                <span class="material-icons-outlined align-bottom star me-1">star</span>
                                <span class="me-1 fs-9">4.2 </span>
                                <span class="neutral-60 fs-9 me-4">(333)</span>
                                <span class="border-start fs-9 ps-4">500+ 個已訂購</span>
                                </div>
                              <h4 class="fs-7 fw-bold">
                                NT$ 4,220
                              </h4>
                              <p class="fs-9 neutral-60 text-decoration-line-through">NT$ 5,220</p>
                                
    
                              </div>
                              
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 跑馬燈 -->
            
          </section>
          <div class="marquee d-flex overflow-hidden text-primary-10 fw-bold">
                  <p># ZOBAA # WHERETOGO # TODAY</p>
            </div>
        <!-- 選擇 ZOBBA -->
         <section class="bg-primary-40 px-4 py-11 py-lg-18 position-relative overflow-hidden">
            <img src="/assets/images/index/bg-up.svg" alt="" class="bg-up position-absolute z-1 top-0 start-0 translate-middle d-none d-lg-flex">
            <img src="/assets/images/index/bg-line.svg" alt="" class="bg-line position-absolute d-none d-lg-flex" style="width: 2200px; height: auto;">
            <img src="/assets/images/index/bg-down.svg" alt="" class="bg-down position-absolute d-none d-lg-flex">
              <div class="container">
                  <div class="zobaa-img-container rounded-5 overflow-hidden position-relative mb-2 mb-lg-8">
                      <img src="/assets/images/index/card-all.jpg" alt="" class="img-fluid w-100 h-100 object-fit-cover">
                      <p class="zobaa-text text-white position-absolute fw-bold"># ZOBAAAAA !</p>
                      <p class="zobaa-life-text text-white position-absolute fw-bold">把旅行變成生活的養分。

                      </p>
                    </div>
                  <div class="zobaa-why-bg rounded-5 p-8 p-lg-10 position-relative z-1 d-lg-flex justify-content-lg-between">
                    <div class="why-intro">
                        <div class="mb-8">
                        <h6 class="fs-lg-2 text-primary mb-6 mb-lg-8">為什麼選擇 ZOBAA ?</h6>
                        <p class="text-neutral-80 fs-9 fs-lg-8">不只是帶你抵達目的地，更在每一次出發前，替你預想所有細節。</p>
                        <p class="text-neutral-80 fs-9 fs-lg-8">ZOBAA 希望你能放心探索世界，把記憶留給旅程本身。 
                          </p>
                          </div>
                      <div class="mb-6 d-lg-none">
                      <div class="mb-6 border-1 bg-white rounded-3 p-8">
                        <h4 class="text-primary fs-lg-2 fw-bold mb-2">
                          8 年<span class="material-icons-outlined align-top fw-bold ms-1">add</span>
                          </h4>
                        <p class="text-primary-80 fw-bold">
                          旅遊企劃經驗  
                          </p>
                        </div>
                      <div class="border-1 bg-white rounded-3 p-8">
                        <h4 class="text-primary fs-lg-2 fw-bold mb-2">
                          30,000<span class="material-icons-outlined align-top fw-bold ms-1">add</span>
                          </h4>
                        <p class="text-primary-80 fw-bold">
                          旅人五星好評  
                          </p>
                        </div>
                        </div>
                      <a href="#" class="btn-pd-16-24 btn rounded-pill text-white bg-black d-flex d-lg-none justify-content-between align-items-center">
                            立即探索我們的精心旅程
                            <span class="rounded-circle bg-white text-black p-2 material-icons-outlined align-bottom">arrow_forward</span>
                          </a>

                      <a href="#" class="btn-pd-28-32 btn rounded-pill text-white bg-black d-lg-inline-flex align-items-center d-none">
                            立即探索我們的精心旅程
                            <span class="rounded-circle bg-white text-black p-2 material-icons-outlined align-bottom ms-lg-6">arrow_forward</span>
                          </a>

                        </div>
                    <div class="d-lg-flex col-lg-6 align-stretch gap-lg-6 d-none">
                      <div class="why-text-block col-lg-6 flex-fill">
                        <div class="border-1 bg-white rounded-3 p-8 h-100 d-flex align-items-center">
                          <div class="why-text">
                            <h4 class="text-primary fs-lg-2 fw-bold mb-2">
                              8 年<span class="material-icons-outlined align-top fw-bold ms-1">add</span>
                              </h4>
                            <p class="text-primary-80 fw-bold">
                              旅遊企劃經驗  
                              </p>

                            </div>
                          </div>

                          </div>
                      <div class="why-text-block col-lg-6 flex-fill">
                        <div class="border-1 bg-white rounded-3 p-8 h-100 d-flex align-items-center">
                          <div class="why-text">
                            <h4 class="text-primary fs-lg-2 fw-bold mb-2">
                            30,000<span class="material-icons-outlined align-top fw-bold ms-1">add</span>
                              </h4>
                            <p class="text-primary-80 fw-bold">
                            旅人五星好評  
                              </p>
                              </div>
                          </div>


                      </div>
                    </div>
                  </div>
                </div>
         </section>
      </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
